@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Reactivate";
}

<div class="container">
    <h1>Reactivate</h1>

    <h3>Are you sure you want to Reactivate this User?</h3>
    <div>
        <h4>@Model.FullName</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisplayName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisplayName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDateTime)
            </dd>
            <dt class="col-sm-2">
                User Role
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserType.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageLocation)
            </dt>
            <dd class="col-sm-10">

                @if (string.IsNullOrWhiteSpace(Model.ImageLocation))
                {
                    <img src="https://pbs.twimg.com/media/DTh3HZ7W4AAJLFG.jpg" class="img-thumbnail" style="height: auto" alt="Generic Profile Picture Icon" />
                }
                else
                {
                    <img src="@Model.ImageLocation" class="img-thumbnail" style="height: auto" alt="@Model.FullName image" />
                }
            </dd>


        </dl>

        <form asp-action="Reactivate">
            <input type="submit" value="Reactivate User" class="btn btn-danger" /> |
            <a class="btn btn-outline-primary mx-1 " asp-action="Index">Cancel</a>
        </form>
    </div>
</div> 